@font-face {
  font-family: "Blippo", "Palatino Linotype", serif;
  src: url();
}

:root {
  --mnm3e-color-white: #fff;
  --mnm3e-color-black: #000;
  
  --font-size-9: 0.5625rem;
  --font-size-10: 0.625rem;
  --font-size-23: 1.4375rem;
  --font-size-30: 1.875rem;
  --font-size-36: 2.25rem;
  --font-size-42: 2.625rem;
  --font-size-46: 2.875rem;

  --mnm3e-font-primary: "Blippo", "Palatino Linotype", serif;
  --mnm3e-font-secondary: "Blippo", "Palatino Linotype", serif;
  --mnm3e-font-modesto: "Modesto Condensed", "Palatino Linotype", serif;
  --mnm3e-font-hero: "Blippo", "Palatino Linotype", serif;
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  >* {
    flex: 1;
  }

  .flex1 {
    flex: 1;
  }

  .flex2 {
    flex: 2;
  }

  .flex3 {
    flex: 3;
  }

  .flex4 {
    flex: 4;
  }
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  >* {
    flex: 1;
  }

  .flex1 {
    flex: 1;
  }

  .flex2 {
    flex: 2;
  }

  .flex3 {
    flex: 3;
  }

  .flex4 {
    flex: 4;
  }
}
